.home-page{
    max-width: 1200px;
    margin:0 auto;
    padding: 1rem;
}
.product-grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.loading{
    text-align: center;
    padding:2rem;
    font-size: 1.2rem;
}
h1{
    text-align: center;
    font-size: 80px;
}